* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    place-items: center;
    min-height: 100vh;
    background: url('../public/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
